/* External CSS */
body{
  font-family:Times roman;
  /*margin:0 auto;  New */
}
.container{
	display:flex;
}
.center{
	justify-content:center;
	align-items:center;
}

.container *{
	flex:1;
}

nav a{
	text-decoration:none;
	background-color:black;
	color:blue;
	text-shadow:1px 1px white;
		text-align:center;
}
nav a:hover{
	background-color:powderblue;
	color:black;
	text-shadow:1px 1px white;
	text-align:center;
}

#headerDiv {
    position: fixed;
    width:100%;
    background-color:black;
    text-align: center;
}

#titleDiv {
    width: auto;
    color:#FFF;
}

#navUL {
    list-style-type:none;
    margin: 0 auto;
    padding:0;
    width:100%;
}

#navUL li {
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
    display:inline-block;
    text-align:center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: powderblue;
  padding: 60px;
  color: red;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}